*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}